Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
var1  = ['parth', [1,2,3], 3.14, (4,5,6)]
var1

['parth', [1, 2, 3], 3.14, (4, 5, 6)]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [3]:
var1 = ''
var2 = '[DS, ML, Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [1]:
a=10
b=2

print(a/b) # /  :- / is arithmetic operator use for the division
print(a%b) # %  :- % is arithmetic operator use for the derive the modulus
print(a//b) # // :- // is arithmetic operator use for the floor division
print(a**b) # ** :- **  is arithmetic operator use for the Exponentiation

5.0
0
5
100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.|

In [4]:
lst = [1,2.3,"parth",[1,2,3],{1,2,3},{"key":"value"},True,5+2j,(1,2,3),False]

for i in lst:
    print(i)
    print(type(i))

1
<class 'int'>
2.3
<class 'float'>
parth
<class 'str'>
[1, 2, 3]
<class 'list'>
{1, 2, 3}
<class 'set'>
{'key': 'value'}
<class 'dict'>
True
<class 'bool'>
(5+2j)
<class 'complex'>
(1, 2, 3)
<class 'tuple'>
False
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.|

In [9]:
A = 1500
B = 5
count = 0

while A%B == 0:
    A = A//B
    count += 1
    
if count > 0:
    print("A is divisible by B, and it can divided by")
    print(count)
else:
        print("A is not divisible by B")

A is divisible by B, and it can divided by
3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [11]:
p = list(range(1,26))

for i in p:
    if(i%3 == 0):
        print(f"{i}is divisible by 3")
    else:
        print(f"{i}is not divisible by 3")

1is not divisible by 3
2is not divisible by 3
3is divisible by 3
4is not divisible by 3
5is not divisible by 3
6is divisible by 3
7is not divisible by 3
8is not divisible by 3
9is divisible by 3
10is not divisible by 3
11is not divisible by 3
12is divisible by 3
13is not divisible by 3
14is not divisible by 3
15is divisible by 3
16is not divisible by 3
17is not divisible by 3
18is divisible by 3
19is not divisible by 3
20is not divisible by 3
21is divisible by 3
22is not divisible by 3
23is not divisible by 3
24is divisible by 3
25is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [12]:
a = [1,2,3,4,5]
b = (1,2,3,4,5)

a[3] = 99 #it will successfully change
b[3] = 99 #output: tuple' object does not support item assignment

#therefore we cannot change the existing values in immutable objects, and also we cannot add new values in existing tuple objects.

TypeError: 'tuple' object does not support item assignment